<ion-content forceOverscroll="false">
  <ion-tabs class="tab-backgroud">
    <ion-tab-bar slot="bottom" *ngIf="showTabs">

      <ion-tab-button tab="gym">
        <img
          class="tabImg"
          src="../assets/icon/menu/gym.svg"
        />
        <ion-label class="tab-text-style"
          >Gym</ion-label
        >
      </ion-tab-button>

      <ion-tab-button tab="daily-focus" >
        <img
          class="tabImg"
          src="../assets/icon/menu/focus.svg"
        />
        <ion-label class="tab-text-style"
          >Daily Focus</ion-label
        >
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
