<div class="manual-reps-container">
  <ion-row class="log-reps-heading">
    <ion-col class="ion-no-padding">
      <ion-text class="primary-title manual-reps-primary-gray-color">
        Manual reps
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-padding">
    <ion-text
      class="log-reps-sub-heading primary-content manual-reps-secondary-gray-color"
    >
      Add the reps manually
    </ion-text>
  </ion-row>
  <ion-row class="ion-no-padding manual-reps">
    <input
      class="ion-no-padding container"
      type="tel"
      maxlength="3"
  />
  </ion-row>
  <div class="ion-text-center">
    <ion-button
      class="save-button container"
      type="button"
      >Save</ion-button
    >
  </div>
</div>
